<div class="Header-F">
  <div id="Logo">
    <a routerLink="/home" routerLinkActive="active">
      <img src="../../assets/MyFolio Font.png" />
    </a>
  </div>
  <div class="menu">
    <a routerLink="/home" routerLinkActive="active" id="home">Home</a>
    <a routerLink="/skills" routerLinkActive="active" id="skills">Skills</a>
    <a routerLink="/certification" routerLinkActive="active" id="certifications"
      >Certifications</a
    >
    <!-- Add Resume -->
    <a routerLink="/projects" routerLinkActive="active" id="projects"
      >Projects</a
    >
    <a routerLink="/contact" routerLinkActive="active" id="contact">Contact</a>
  </div>
</div>
