.Header-F{
    background-color: rgb(30, 30, 30);
    display: flex;
    width: auto;
    height: auto;
    flex-shrink: 0;
    padding-left:0.5rem;
    justify-content: space-between;
}
#Logo img{
    padding-top: 0.5rem;
    width:25%;
}
.menu{
    margin-left: 10%;
    padding: 2rem;
    display: flex;
    gap: 20px;
}
a{
    color: #FFF;
    font-family: 'Courier';
    font-style: normal;
    line-height: normal;
    text-decoration: none;
    font-size: 120%;
}
#home.active, #shills.active, #certification.active, #projects.active, #contacts.active, #resume.active{
    color:#bdafe0;
}