<div id="top"><img src="../../assets/CERTIFICATIONS-Font.png" /></div>
<div class="main">
  <div class="row1">
    <img id="col" src="../../assets/certificate-html.jpg" />
    <img id="col" src="../../assets/certificate-css.jpg" />
  </div>
  <div class="row2">
    <img id="col" src="../../assets/certificate-js.jpg" />
    <img id="col" src="../../assets/certificate-android.jpg" />
  </div>
  <div class="row3">
    <img id="col" src="../../assets/certificate-django.jpg" />
    <img id="col" src="../../assets/certificate-database.jpg" />
  </div>
  <div class="row4">
    <img id="col" src="../../assets/certificate-aiml.jpg" />
    <img id="col" src="../../assets/certificate-java.jpg" />
  </div>
  <div class="row5">
    <img id="col" src="../../assets/certificate-firebase.jpg" />
    <img id="col" src="../../assets/certificate-flutter.jpg" />
  </div>
</div>
<app-projects></app-projects>
