<div id="top"><img src="../../assets/CERTIFICATIONS-Font.png" /></div>
<div class="main">
  <div id="col1">
    <img src="../../assets/certificate-html.jpg" />
    <img src="../../assets/certificate-js.jpg" />
    <img src="../../assets/certificate-django.jpg" />
    <img src="../../assets/certificate-aiml.jpg" />
    <img src="../../assets/certificate-firebase.jpg" />
  </div>
  <div id="col2">
    <img src="../../assets/certificate-css.jpg" />
    <img src="../../assets/certificate-android.jpg" />
    <img src="../../assets/certificate-database.jpg" />
    <img src="../../assets/certificate-java.jpg" />
    <img src="../../assets/certificate-flutter.jpg" />
  </div>
</div>
<app-resume></app-resume>
