#top{ 
    background-color: #101113;
    padding-top: 5rem;
}
#top img{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main{
    padding: 10% 10% 0% 12%;
    background-color: #101113;
}
#col{
    width:45%;
    height:45%;
    padding-right: 2rem;
    padding-bottom: 1rem;
}