.main{
    background-color: #1E1E1E;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;  
    width: auto;
    height: auto;
    color:#bdafe0;
}
#col1 img{
    width:80%;
    height:auto;
    display: block;
    margin-left:auto;
    margin-right:auto; 
}
#col2 img{
    width: 6%;
    height:auto; 
    padding-bottom: 1%;
}
#col2 p{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px; 
}
#col2 a, #col3 a{
    text-decoration: none;
    color:#bdafe0;
}
#Pages{
    color:azure;
    font-size:larger;
    font-style: italic;
    font-weight: bolder;
    font-family: 'Times New Roman';
}
#col3 p{
    font-size: medium;
    padding-bottom: 1%;
    font-family: 'Times New Roman';
}
#copy{
    background-color: #1E1E1E;
    width: auto;
    height: auto;
    color:#bdafe0;
    text-align: center;
    padding: 1rem;
}