<div class="main">
  <div id="col1"><img src="../../assets/CONTACT-Font.png" /></div>
  <div id="col2">
    <p><img src="../../assets/phone-logo.png" />+91 8667236561</p>
    <p><img src="../../assets/mail-logo.png" />jayasri030520@gmail.com</p>
    <p>
      <img src="../../assets/insta-logo.png" />
      <a href="https://www.instagram.com/jayasri_030520/#">jayasri030520</a>
    </p>
    <p>
      <img src="../../assets/linkedin-logo.png" />
      <a href="www.linkedin.com/in/jayasri-s-v-283b97213">Jayasri S V</a>
    </p>
    <p>
      <img src="../../assets/git-logo.png" />
      <a href="https://github.com/Jayasri2021">Jayasri2021</a>
    </p>
  </div>
  <div id="col3">
    <div id="Pages">Pages</div>
    <p><a routerLink="/home" routerLinkActive="active" id="home">Home</a></p>
    <p>
      <a routerLink="/skills" routerLinkActive="active" id="skills">Skills</a>
    </p>
    <p>
      <a
        routerLink="/certification"
        routerLinkActive="active"
        id="certifications"
        >Certifications</a
      >
    </p>
    <p>
      <a routerLink="/resume" routerLinkActive="active" id="resume">Resume</a>
    </p>
    <p>
      <a routerLink="/projects" routerLinkActive="active" id="projects"
        >Projects</a
      >
    </p>
  </div>
</div>
<hr />
<div id="copy">Copyright © 2023 MYFOLIO. All Rights Reserved.</div>
<!-- 
  REMOVE PADDING
FLEX- GAP => HORIZONTAL
 -->
