.top{
    background-color: #101113;
    color:#ffffff;
    width: auto;
    height:auto;
    padding-top:2%;
}
.top img{
    width: 18%;
    height: auto;
    display: block;
    margin-right:auto;
    margin-left:auto;
}
.main{
    background-color: #101113;
    font-size:xX-large;
    text-align: center;
    font-family: 'Times New Roman';
    width: auto;
    height:auto;
    padding: 2rem 5rem 1rem 5rem;
}
.main img{
    width:2.5%;
    height:2.5%;
}
.main a{
    text-decoration: none;
    color:#bdafe0;
}