<app-header></app-header>
<div class="main">
  <div id="main2">
    <div id="Image">
      <img src="../../assets/Sample-Profile1.png" />
    </div>
  </div>
  <div class="main1">
    <div id="heythere">Hey There,</div>
    <div id="Jayasri">I'M <span id="color">JAYASRI</span></div>
    <div id="Developer">A <span id="color">DEVELOPER</span></div>
    <div id="content">
      I thrive on continuous learning, honing my skills and uncovering latent
      talents. My adaptability knows no bounds, effortlessly acclimating to
      fresh environments and emerging technologies.
    </div>
  </div>
</div>
<app-skills></app-skills>
